<div class="container mt-5">

  <!-- Окно алерта -->

  <div
    class="alert alert-primary"
    role="alert"
    *ngIf="!todos.length"
  >
    Задач нет. Добавьте задачу.
  </div>

  <!-- Форма добавления -->

  <form
    class="mb-5 border p-4"
    (ngSubmit)="addTodo()"
    #form="ngForm"
  >
    <fieldset>
      <legend>Задача</legend>
      <div class="form-group">
          <label for="title">Заголовок</label>
          <input
            type="text"
            class="form-control"
            id="title"
            placeholder="Заголовок"
            [(ngModel)]="todo.title"
            name="title"
          >
        </div>
        <div class="form-group">
          <label for="text">Текст задачи</label>
          <input
            type="text"
            class="form-control"
            id="text"
            placeholder="Текст"
            [(ngModel)]="todo.text"
            name="text"
          >
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!todo.text || !todo.title"
        >
          Добавить задачу
        </button>
    </fieldset>
  </form>

  <!-- Сами задачи -->

  <div class="row">
    <div
      class="col-4 mb-3"
      *ngFor="let task of todos"
    >
      <div
        class="card"
        [ngClass]="{'bg-success text-white': task.complete}"
      >
        <div class="card-body">
          <h5 class="card-title">{{ task.title }}</h5>
          <p class="card-text">{{ task.text }}</p>
          <button
            class="btn btn-primary mr-3"
            (click)="completeTask(task)"
          >
            {{!task.complete ? 'Завершить' : 'Вернуть'}}
          </button>
          <button
            class="btn btn-danger"
            (click)="deleteTask(task.id)"
          >
            Удалить
          </button>
        </div>
        </div>
    </div>
  </div>
</div>
